<div fxFlexFill *ngIf="fields">
  <div *ngFor="let field of fields" fxFlex="50">
    <div *ngIf="field.visible" [ngSwitch]="field.controlType">
      <app-ff-date
        *ngSwitchCase="'date'"
        [form]="form"
        [formGroup]="group"
        [label]="field.label"
        [key]="field.key"
        [requiered]="field.required"
      ></app-ff-date>
      <app-ff-time
        *ngSwitchCase="'time'"
        [form]="form"
        [formGroup]="group"
        [label]="field.label"
        [key]="field.key"
        [requiered]="field.required"
      ></app-ff-time>
    </div>
  </div>
</div>
