<div
  fxFlex
  fxFlexOffset="20px"
  fxLayoutAlign="center"
  fxLayout="column"
  fxLayoutGap="10px"
  [ngStyle]="{ 'padding-bottom': '20px' }"
>
  <h3>Новый Акт</h3>
  <form novalidate [formGroup]="formAct" (ngSubmit)="onSubmit()">
    <fieldset>
      <div
        fxFlex
        fxLayout="row wrap"
        fxLayoutGap="10px"
        *ngIf="formAct && fields && formAct"
      >
        <div *ngFor="let field of fields" fxFlex="40">
          <div *ngIf="field.visible">
            <app-form-renderer
              [form]="formAct"
              [field]="field"
            ></app-form-renderer>
          </div>
        </div>
      </div>
    </fieldset>
    <app-act-applitcation
      [form]="formAct"
      [item]="act"
      [statusControl]="statusControl"
      [copyControl]="copyControl"
    ></app-act-applitcation>
    <mat-action-list fxLayout="row">
      <button
        mat-button
        type="submit"
        class="background-primary text-floral-white"
        [disabled]="!formAct.valid"
      >
        {{ statusControl ? "Обновить" : "Создать" }}
      </button>
    </mat-action-list>
  </form>
</div>
