<mat-form-field fxFlexFill [formGroup]="form">
  <mat-label *ngIf="!touchedAndNotValid">{{ label }}</mat-label>
  <mat-label *ngIf="touchedAndNotValid"
    >Поле {{ label }} обязательно к заполнению</mat-label
  >
  <mat-select [formControlName]="key" #select>
    <div *ngFor="let option of optionsList">
      <mat-option
        (click)="_open()"
        appLookUp
        (onChangeButtonCondition)="buttonCondition($event, option)"
        [value]="option.key"
        ><div fxLayout="row">
          {{ option.value }}
          <app-edit-button
            (click)="editOpen(option)"
            *ngIf="option.buttonController && editable"
          ></app-edit-button>
          <app-delete-button
            (click)="deleteItem(option)"
            *ngIf="option.buttonController && deletable"
          >
          </app-delete-button>
        </div>
      </mat-option>
    </div>
    <mat-option (click)="addItem()">Добавить</mat-option>
  </mat-select>
</mat-form-field>
