button {
    margin-left: 5px;
    display: block;
}

.copy-input {
    display: block
}

.copy-field {
    max-width: 140px;

}

.buttons-container {
    display: flex;
    flex-direction: row;
}

.blocks-container {
    display: flex
}