<div [formGroup]="form">
  <div [formGroupName]="key">
    <fieldset *ngIf="fields">
      <div fxFlex fxLayout="column">
        <h4>Адрес</h4>
        <app-autocomplete
          (setAddress)="getAddress($event)"
          adressType="geocode"
        ></app-autocomplete>
        <div fxFlex fxLayout="row wrap">
          <div *ngFor="let field of fields" fxFlex="50">
            <app-form-renderer
              [form]="group"
              [field]="field"
            ></app-form-renderer>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
